*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-color:darkred;
    --text-color:white;
}
main{
    width: 100%;
    height: 100vh;
   box-sizing: border-box;

}

main .home-header{
        
    width: 100%;
    max-height: auto;
    background-color: var(--header-color);
    color: white;
    display: flex;
    justify-content: space-around;
      align-items: center;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.logo-name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap:10px ;
  justify-content: space-around;
  align-items: center;
}
#logo{
    width: 5em;
    height: 5em;
    border-radius: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 2em;
}
.home-header nav ul li{
    list-style-type: none;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    padding: 0.3em;
}
.home-header nav ul li a{
    color: black;
    text-decoration: none;
    
    
}
.home-header nav ul li i{
    color: red;
}

/* heroo section Design */
.hero-section{
    width: 100%;
    height: 70vh;
    display: flex;
        /* background-image:linear-gradient(rgba(0,0,10,0.2),rgba(0,0,10,0.2)),url(/asset/Images/hero-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

      justify-content: space-around;
      align-items: center;
}
.hero-section .hero-section-content{
    width: 25%;
   direction: rtl;
      
}
.hero-section #illustration_image{
      width: 25%;
      margin-top: 2.5em;
      
}
#hero-heading{
    color: darkred;
}
.hero-section-content p{
    margin: 1em auto;
    text-align: justify;
}
.hero-section-link-btns{
    display: flex;
    gap: 5px;
}
#donor-veiw-btn{
    border: 2px solid darkred;
     border-radius: 3px;
    text-decoration: none;
    background-color: darkred;
    color: white;
    padding:  0.5em;
}
#Patient-view-btn{
    border: 2px solid darkred;
     border-radius: 3px;
      padding:  0.5em;
        text-decoration: none;
        color: darkred;

}

/* dashboard design */

.dashboard{
    background-color: rgb(245, 238, 238);
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cards{
    width:15%;
    height: 12em;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 0.7em;
    text-align: center;
     
}
#blood-unit-card{
    background-color: rgb(238, 202, 202);
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.5em;
    box-shadow: 0px 5px 6px 2px lightgray;
}
#blood-unit-card i{
    color: darkred;
font-size: 1.5em;
}
#donor-card{
    background-color:rgb(200, 240, 200);
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.5em;
    box-shadow: 0px 5px 6px 2px lightgray;
}
#donor-card i{
    color: rgb(62, 195, 62);
font-size: 1.5em;
}
#patient-card{
    background-color:darkblue;
    display: flex;
    color: white;
    align-items: center;
    justify-content:center;
    gap: 0.5em;
      box-shadow: 0px 5px 6px 2px lightgray;
}
#patient-card i{
    color: red;
font-size: 1.5em;
}
#request-card{
    background-color:lightblue;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.5em;
    box-shadow: 0px 10px 10px lightgray;
}
#request-card i{
    color: tomato;
font-size: 1.5em;
}
.About-our-system{
     width:20%;
     height: 35vh;
     background-color:white;
     box-sizing: border-box;
direction: rtl;
border-radius: 0.5em;
padding: 1em;
line-height: 1.5em;
box-shadow: 0px 10px 10px lightgray;


}
#system-btn{
    background-color: darkred;
    padding: 0.5em;
    width: 30%;
    border-radius: 0.5em;
    color: white;
text-align: center;

}
.About-our-system p{
    margin:0.5em auto;
}
#system-btn a{
    color: white;
text-decoration: none;


}
footer{
    background-color: darkred;
    color: white;
    text-align: center;
     padding: 2em;    
}

/* About page Design */

.about-hero-section{
           background-image:linear-gradient(rgba(0,0,10,0.5),rgba(0,0,10,0.5)),url(/asset/Images/hero-background.jpg);
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           height: 30vh;
           color: white;
           display: flex;
           justify-content: center;
           align-items: center;
           line-height: 2em;
          direction: rtl;           
}
.about-hero-section h2{
color: white;

}     
.about-hero-section-content{
        text-align: center;
}
.About-content{
    width: 100%;
    height: 60vh;
     display: flex;   
    justify-content: space-around;
    align-items: center;    
    gap: 5%;
}

#about-info-image{
    width:25%;
} 
#about-info-image img{
   width: 100%;
}
#about-info-content{
 width: 30%;
 height:30vh ;
 line-height: 2em;
 direction: rtl;
}




